In [3]:
import pandas as pd

In [4]:
row1List = ["장준하","1234","haiteam"]
row2List = ["김어진","2345","eojin"]

In [5]:
testDF = pd.DataFrame([row1List, row2List])
testDF.columns = ["이%%름","학번$$","이메일##@"]
testDF

  이%%름  학번$$   이메일##@
0  장준하  1234  haiteam
1  김어진  2345    eojin

In [6]:
columnList = list(testDF.columns)
columnList

['이%%름', '학번$$', '이메일##@']

In [7]:
for i in range(0,len(columnList)):
    columnList[i] = columnList[i].replace("%","")
    print( columnList[i])

이름
학번$$
이메일##@

In [8]:
for i in range(0,len(columnList)):      #이%%름.replaced("%","") -> # 이름
    columnList[i] = columnList[i].replace("$","")
    print( columnList[i] )

이름
학번
이메일##@

In [9]:
for i in range(0,len(columnList)):      
    columnList[i] = columnList[i].replace("#","")
    print( columnList[i] )

이름
학번
이메일@

In [ ]:
for i in range(0,len(columnList)):      
    columnList[i] = columnList[i].replace("@","")
    print( columnList[i] )

이름
학번
이메일

In [ ]:
columnList

['이름', '학번', '이메일']

In [ ]:
testDF = pd.DataFrame([row1List, row2List])
testDF.columns = columnList
testDF

    이름    학번      이메일
0  장준하  1234  haiteam
1  김어진  2345    eojin