In [5]:
import pandas as pd

In [6]:
row3List = ["장준하","1234","haiteam"]
row4List = ["김어진","2345","eojin"]

In [7]:
testDF = pd.DataFrame([row3List, row4List])
testDF.columns = ["이%%름","학번$$","이메일##@"]
testDF

  이%%름  학번$$   이메일##@
0  장준하  1234  haiteam
1  김어진  2345    eojin

In [17]:
columnList = list(testDF.columns)
columnList

['이%%름', '학번$$', '이메일##@']

In [23]:
type(columnList)

list

In [28]:
type(columnList)

list

In [30]:
type(columnList[0])

#re.sub("","대체할문자","대체하고 싶은 문자열")

str

In [31]:
import re
#re.sub("","",str)
newcolumnList = re.sub("[%$#@]","",columnList[0])
newcolumnList

'이름'

In [33]:
for i in range(len(columnList)):         #columnList개수만큼 for 문을 돌린다 i의 인데스는 0부터   columnList개수-1          
    columnList[i] = re.sub("[%$#@]","",columnList[i])
columnList

['이름', '학번', '이메일']