In [10]:
import pandas as pd
columns2=["성별","이름","나이","거주지","해피포인트"]
row1 = ["남성","김효관", "42","서울",80]
row2 = ["여성","안민정", "40","창원",75]
row3 = ["남성","김어진", "10","서울",65]
row4 = ["남성","이종수", "42","경기도",95]
row5 = ["여성","이지슬", "26","경기도",80]

indata = pd.DataFrame( [row1,row2,row3,row4,row5] )
indata.columns = columns2

In [9]:
### 1. 성별 해피포인트 평균

In [10]:
#### 그룹키 성별[해피포인트] <- 집계함수(mean)

In [11]:
groupKey = ["성별"]

In [ ]:
indata.groupby(by=groupKey)["해피포인트"].agg(["mean"])

In [14]:
groupKey = ["성별","거주지"]

In [15]:
indata.groupby(by=groupKey)["해피포인트"].agg(["mean"])

        mean
성별 거주지
남성 경기도  95.0
   서울   72.5
여성 경기도  80.0
   창원   75.0

In [19]:
pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [20]:
indata["YEAR"] = indata["YEARWEEK"].astype(str).str[0:4]

KeyError: 'YEARWEEK'

In [ ]:
a60p4Data2  = indata.loc[(indata.REGIONID=="A60")&
               
                         
                         (indata.PRODUCT=="PRODUCT4")]

In [ ]:
a60p4Data2

In [21]:
groupKey = ["YEAR"]

In [ ]:
indata.groupby(groupKey)["QTY"].agg(["mean"])

In [ ]:
#(2014, 2015, 2016)
indata.groupby(연도) -> 데이터가 몇줄나올까요?

In [1]:
import pandas as pd