In [23]:
import pandas as pd

In [24]:
joinMaster = pd.read_csv("../dataset/join_region_master.csv", encoding="ms949")
 = pd.read_csv("../dataset/join_kopo_product_volume.csv")

In [25]:
joinMaster

  REGIONID REGIONNAME
0      A01         한국
1      A02         미국
2      A03        프랑스
3      A04         독일

In [46]:
joinSellout = joinSellout.rename(columns={"REGIONID":"SALESID"})

In [49]:
joinSellout

  SALESID PRODUCT  YEARWEEK   QTY
0     A01  ST0001    201901  3000
1     A01  ST0001    201902  3500
2     A02  ST0002    201901  4000
3     A02  ST0003    201902  7000

In [48]:
mergedData = pd.merge( left = joinSellout, 
         right = joinMaster,
         left_on = ["SALESID"],
         right_on =["REGIONID"] )
mergedData

  SALESID PRODUCT  YEARWEEK   QTY REGIONID REGIONNAME
0     A01  ST0001    201901  3000      A01         한국
1     A01  ST0001    201902  3500      A01         한국
2     A02  ST0002    201901  4000      A02         미국
3     A02  ST0003    201902  7000      A02         미국

In [39]:
mergedData.loc[:, ["SALESID","REGIONNAME","PRODUCT","YEARWEEK","QTY"] ]

NameError: name 'mergedData' is not defined

In [27]:
# 기준이 되는 데이터는 실적데이터
pd.merge(left=joinSellout, right = joinMaster, on =["REGIONID"])

  REGIONID PRODUCT  YEARWEEK   QTY REGIONNAME
0      A01  ST0001    201901  3000         한국
1      A01  ST0001    201902  3500         한국
2      A02  ST0002    201901  4000         미국
3      A02  ST0003    201902  7000         미국

In [50]:
row1 = ["A01","ST0001",0.3]
row2 = ["A02","ST0002",0.5]       
promoData = pd.DataFrame([ row1,row2], columns = ["REGION","PD","PROMOTION"])
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0002        0.5

In [51]:
joinSellout   ##여기서 join을 하면 join이 되지 않은 나머지 데이터는 사라진다!!주의!!!****

  SALESID PRODUCT  YEARWEEK   QTY
0     A01  ST0001    201901  3000
1     A01  ST0001    201902  3500
2     A02  ST0002    201901  4000
3     A02  ST0003    201902  7000

In [52]:
pd.merge(left=joinSellout, 
         right=promoData, 
         left_on=["SALESID","PRODUCT"], 
         right_on=["REGION","PD"])

  SALESID PRODUCT  YEARWEEK   QTY REGION      PD  PROMOTION
0     A01  ST0001    201901  3000    A01  ST0001        0.3
1     A01  ST0001    201902  3500    A01  ST0001        0.3
2     A02  ST0002    201901  4000    A02  ST0002        0.5

In [53]:
##left join을 사용하면 고객의 정보를 버리지 않아진다. inner / left / right / outer / CROSS join의 종류를 비교한다.

In [54]:
row1 = ["A01","ST0001",0.3]
row2 = ["A02","ST0002",0.5]
row3 = ["A99","ST0099",0.9] 
promoData = pd.DataFrame([ row1,row2], columns = ["REGION","PD","PROMOTION"])
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0002        0.5

In [61]:
pd.merge(left = joinSellout,
         right = promoData,
         left_on = ["SALESID","PRODUCT"],
         right_on = ["REGION","PD"],
         how = "outer") #inner / left / right / outer join

  SALESID PRODUCT  YEARWEEK   QTY REGION      PD  PROMOTION
0     A01  ST0001    201901  3000    A01  ST0001        0.3
1     A01  ST0001    201902  3500    A01  ST0001        0.3
2     A02  ST0002    201901  4000    A02  ST0002        0.5
3     A02  ST0003    201902  7000    NaN     NaN        NaN

In [74]:
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0002        0.5

In [75]:
joinSellout

  SALESID PRODUCT  YEARWEEK   QTY
0     A01  ST0001    201901  3000
1     A01  ST0001    201902  3500
2     A02  ST0002    201901  4000
3     A02  ST0003    201902  7000

In [76]:
row1 = ["A02","ST0001",201901,2000]
row2 = ["A02","ST0002",201902,2000]
row3 = ["A02","ST0003",201901,2000]
row4 = ["A02","ST0005",201901,2000]

In [77]:
newData = pd.DataFrame( [row1,row2,row3,row4], columns = joinSellout.columns)

In [78]:
joinSellout.append(newData)

C:\Users\SMART27\AppData\Local\Temp\ipykernel_4040\4192813172.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  joinSellout.append(newData)

  SALESID PRODUCT  YEARWEEK   QTY
0     A01  ST0001    201901  3000
1     A01  ST0001    201902  3500
2     A02  ST0002    201901  4000
3     A02  ST0003    201902  7000
0     A02  ST0001    201901  2000
1     A02  ST0002    201902  2000
2     A02  ST0003    201901  2000
3     A02  ST0005    201901  2000

In [79]:
pd.merge(left=joinSellout, 
         right=promoData,
         left_on=["PRODUCT"],
         right_on=["PD"],how="left"

SyntaxError: unexpected EOF while parsing (758051478.py, line 4)

In [80]:
row1 = ["ST0001","S23 MODEL"]
row2 = ["ST0002","S22 MODEL"]
row3 = ["ST0003","S21 MODEL"] 
productData = pd.DataFrame([ row1,row2,row3], columns = ["PRODUCT_CODE","PRODUCT_ACTUAL_NAME"])

In [81]:
productData

  PRODUCT_CODE PRODUCT_ACTUAL_NAME
0       ST0001           S23 MODEL
1       ST0002           S22 MODEL
2       ST0003           S21 MODEL

In [82]:
row1 = ["A01","ST0001",0.3]
row2 = ["A02","ST0002",0.5]
row3 = ["A99","ST0099",0.9] 
promoData = pd.DataFrame([ row1,row2], columns = ["REGION","PD","PROMOTION"])
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0002        0.5

In [83]:
row1 = ["A01","ST0001",0.3]
row2 = ["A02","ST0002",0.5]       
promoData = pd.DataFrame([ row1,row2], columns = ["REGION","PD","PROMOTION"])
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0002        0.5

In [ ]:
# INNER 조인 교집합만 나온다 A01
# LEFT 조인 시 왼쪽은 다살린다.