In [1]:
import pandas as pd
import numpy as np

In [2]:
featuresData = pd.read_csv("../dataset/feature_regression_example.csv")

In [3]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,Y,0,Y,0.421888
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,N,4,Y,0.421888
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361

In [4]:
featuresData.dtypes

REGIONID         object
PRODUCTGROUP     object
PRODUCT          object
ITEM             object
YEARWEEK          int64
YEAR              int64
WEEK              int64
QTY               int64
HOLIDAY          object
HCLUS             int64
PROMOTION        object
PRO_PERCENT     float64
dtype: object

In [5]:
featuresData["REGIONID"] = featuresData["REGIONID"].astype(str)
featuresData["PRODUCTGROUP"] = featuresData["PRODUCTGROUP"].astype(str)

In [6]:
featuresData.head(1)

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442

In [7]:
featuresData.shape

(105, 12)

In [8]:
featuresData["PROMOTION"] = np.where(featuresData.PROMOTION == "Y",1,0)
featuresData["HOLIDAY"] = np.where(featuresData.HOLIDAY == "Y",1,0)

In [9]:
featuresData.loc[ (featuresData.PROMOTION == 1) ] #검증

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,1,1,1,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,0,4,1,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,0,4,1,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,1,2,1,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,0,4,1,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412,1,0,1,0.421888
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955,0,4,1,0.421888
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,0,4,1,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,0,4,1,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,1,1,1,0.352361

In [10]:
corrDf = featuresData.corr()
stdCorr = 0.5
corrDf

,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
YEARWEEK,1.000000,0.956598,0.275593,0.112267,0.049867,-0.071586,0.205916,0.404889
YEAR,0.956598,1.000000,-0.016493,0.028931,-0.031106,0.028593,0.195931,0.321193
WEEK,0.275593,-0.016493,1.000000,0.289766,0.273710,-0.339943,0.060206,0.329705
QTY,0.112267,0.028931,0.289766,1.000000,0.505932,-0.537230,0.612451,0.700195
HOLIDAY,0.049867,-0.031106,0.273710,0.505932,1.000000,-0.974601,0.365148,0.487062
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,-0.974601,1.000000,-0.374072,-0.545619
PROMOTION,0.205916,0.195931,0.060206,0.612451,0.365148,-0.374072,1.000000,0.898554
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,0.487062,-0.545619,0.898554,1.000000

In [11]:
features = list( corrDf.loc[ (abs(corrDf.QTY) >= stdCorr) & ( corrDf.QTY != 1 ) ].index ) 
features

['HOLIDAY', 'HCLUS', 'PROMOTION', 'PRO_PERCENT']

In [12]:
featuresData.shape

(105, 12)

In [13]:
label = ['QTY']

In [14]:
stdRatio = 0.7

In [15]:
stdIndex = int(featuresData.shape[0] * stdRatio)
stdIndex

73

In [16]:
trainingDataFeatures = featuresData.loc[0:stdIndex, features]
trainingDataLabel = featuresData.loc[ 0:stdIndex, label]
testDataFeatures = featuresData.loc[stdIndex+1 :, features]
testDataLabel = featuresData.loc[stdIndex+1 :, label]

In [17]:
print ( trainingDataFeatures.shape )
print ( trainingDataLabel.shape )
print ( testDataFeatures.shape )
print ( testDataLabel.shape )

(74, 4)
(74, 1)
(31, 4)
(31, 1)

In [18]:
from sklearn import tree

In [19]:
dtModel = tree.DecisionTreeRegressor(random_state=10)

In [20]:
dtModel.fit(X=trainingDataFeatures,
            y=trainingDataLabel)

DecisionTreeRegressor(random_state=10)

In [21]:
predictValue = dtModel.predict(X = testDataFeatures)
len(predictValue)

31

In [22]:
features

['HOLIDAY', 'HCLUS', 'PROMOTION', 'PRO_PERCENT']

In [23]:
inputHclus = 1 # 대휴일1 소휴일 :4
inputProPercent = 0.5 # 프로모션 비율
inputPromotionLb = 1 # 프로모션 적용 Y
inputHlb = 1 # 홀리데이 적용 Y

In [24]:
testData = pd.DataFrame( [ [inputHclus, inputProPercent, inputPromotionLb, inputHlb] ] )

In [25]:
testData

   0    1  2  3
0  1  0.5  1  1

In [26]:
dtModel.predict(testData)

C:\Users\SMART27\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([2193.8])