In [6]:
# import mysql
import pandas as pd
from sqlalchemy import create_engine
import pymysql 
from sqlalchemy import types

## 1.메타 데이터베이스 접속 (메타데이터)

In [7]:
inId="kopo"
inPw="kopo"
inIp="192.168.110.112"
inPort="1521"
inDbName="orcl"

In [8]:
engine_meta = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(inId,inPw,inIp,inPort,inDbName))

In [9]:
만약에 입력 소스가 파이썬이면
conPrefix = "oracle+cx_oracle://"

SyntaxError: invalid syntax (881075162.py, line 1)

In [10]:
paramdata = pd.read_sql_query('SELECT * FROM KOPO_PARAM_TABLE_HK', con=engine_meta)

In [11]:
paramdata

   param_name                                        param_value
0   SRC_TABLE                                               abcd
1     SRC_CON  mysql+pymysql://kopo:kopo@192.168.110.111:3306...
2  DEST_TABLE                                           abcd_out
3    DEST_CON  oracle+cx_oracle://kopo:kopo@192.168.110.112:1...

In [12]:
srcTable = paramdata.loc[paramdata.param_name=="SRC_TABLE","param_value"].values[0]
srcLink = paramdata.loc[paramdata.param_name=="SRC_CON","param_value"].values[0]
destTable = paramdata.loc[paramdata.param_name=="DEST_TABLE","param_value"].values[0]
destLink = paramdata.loc[paramdata.param_name=="DEST_CON","param_value"].values[0]

In [15]:
srcTable = paramdata.loc[paramdata.param_name=="SRC_TABLE","param_value"].values[0]
srcTable

'abcd'

In [37]:
print(srcTable,srcLink,destTable,destLink)

abcd mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo abcd_out oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl

### 2. 데이터 불러오기

In [38]:
srcEngine = create_engine(srcLink)
srcData = pd.read_sql_query('SELECT * FROM {}'.format(srcTable), con=srcEngine)

### 3. 데이터 저장하기

In [39]:
destEngine = create_engine(destLink)

In [40]:
resultTable = destTable.lower()

In [41]:
## 성능향상

In [42]:
from sqlalchemy import types

In [43]:
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(srcData.columns[srcData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배

In [44]:
srcData.to_sql(name=resultTable, if_exists="replace", con=destEngine,
               dtype=typeDict, index=False)

150