ETL정리

1-1. 파일데이터 수집
    -- excel,csv 등의 파일을 파이썬에서 열기

In [ ]:
import pandas as pd

In [95]:
customerData = pd.read_csv("../dataset/customer.csv") ##customerData = pd.read_excel("../dataset/customer.csv")
customerData

         balance     stock    label
0       30000000  22500000   normal
1      280000000  48000000  diamond
2      300000000  40666666  diamond
3       54000000  28000000   normal
4      768000000  32000000      vip
...          ...       ...      ...
19995  628000000  44666666  diamond
19996  276000000  20000000   normal
19997  652000000  41333333  diamond
19998  676000000  45333333  diamond
19999  732000000  26000000  diamond

[20000 rows x 3 columns]

In [96]:
customerData.columns = ["custid","avgprice","emi"]

1-2. 수정된 데이터 파이썬에 저장
    -- 수정한 파일 데이터를 지정폴더에 저장

In [ ]:
customerData.to_csv("../dataset/customerdata_out.csv", index = False) #customerData.to_excel("../dataset/customerdata_out.xlsx", index = False)
customerData.head()  #()개의 row 확인

## 옵션
customerData.columns = ["custid","avgprice","emi" , encoding ="ms949"]
customerData.columns = ["custid","avgprice","emi" , sep = "|"]
customerData.columns = ["custid","avgprice","emi" , skiprows]  # 무시할 행 갯수
customerData.columns = ["custid","avgprice","emi" , index = False]

1-3. 웹 - > 파이썬 데이터 수집
    --깃허브에서 raw 선택

customerData = pd.read_csv("깃허브 raw url")

In [ ]:
2-1 MySQL/Maraidb DB서버 데이터 수집

#step1 패키지 불러오기

import pandas as pd
from sqlalchemy import create_engine
import pymysql 
from sqlalchemy import types 

#step2 DB커넥션 열기

inId="root"
inPw="mariadb"
inIp="120.0.0.1"
inPort="3306"
inDbName="mariadb"

engine = create_engine('mysql+pymysql://{}:{}@{}:{}/{}'.format(inId,inPw,inIp,inPort,inDbName))

#step3 DB테이블을 읽어 DATA FRAME 변수에 저장하기

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

#step4 컬럼명 바꾸기

selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
selloutData.head()

#step5 데이터 저장

resultname='mysqlresult'
selloutData.to_sql(resultname, engine, if_exists='replace')
#selloutData.to_sql(name = "kopo_result_hk",
                  con = engine_meta,
                   index = False,
                   if_exists = "replace")

In [ ]:
2-2 oracle DB서버 데이터 수집

#step1 패키지 불러오기

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import types 

#step2 DB커넥션 열기

inId="kopo"
inPw="kopo"
inIp="120.0.0.1"
inPort="1521"
inDbName="orcl"

*주의 : 토드에서 tnsname 설정하기

engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(inId,inPw,inIp,inPort,inDbName))

#step3 DB테이블을 읽어 DATA FRAME 변수에 저장하기

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

#step4 컬럼명 바꾸기

selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
print(selloutData.head())

#step5 데이터 저장

resultname='oracleresult'
selloutData.to_sql(resultname, engine, if_exists='replace')
#selloutData.to_sql(name = "kopo_result_hk",
                  con = engine_meta,
                   index = False,
                   if_exists = "replace")