In [2]:
import pandas as pd

In [3]:
colList1 = ["김효관", "김어진", "안민정"]
colList2 = [40, 10, 39]

In [5]:
pd.DataFrame(zip (colList1,colList2))

     0   1
0  김효관  40
1  김어진  10
2  안민정  39

In [6]:
rowList1 = ["김효관",40]
rowList2 = ["김어진",10]
rowList3 = ["안민정",39]

In [15]:
df1 = pd.DataFrame [ rowList1, rowList2, rowList3 ]
df1.columns =

TypeError: 'type' object is not subscriptable