In [40]:
tableDefine = pd.DataFrame( customerData.dtypes )
tableDefine
tableDefine[1] = ""
tableDefine

                   0 1
CUSTID        object
AVGPRICE     float64
EMI            int64
DEVICECOUNT    int64
PRODUCTAGE   float64
CUSTTYPE      object

In [42]:
customerData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [47]:
customerData.loc[[0,2,4,5,6]]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog
5  B16849  3755.263391    2            4    2.786665      Sleeping-dog
6  B18816  3213.911446    2            6    0.900000        Early-bird

In [52]:
emiCondition = 3
deviceCondition = 5

In [53]:
csData = customerData.loc[(customerData.EMI >= emiCondition) & (customerData.DEVICECOUNT > deviceCondition) ]

In [54]:
csData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [55]:
csData.reset_index(drop = True, inplace = True)

In [56]:
csData

    CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0   A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1   F17131  3179.708359    3            6    1.100000        Early-bird
2   G16437  3787.328898    3            6    1.000000        Early-bird
3   G18402  3402.199381    3            6    1.000000        Early-bird
4   H16326  3988.935304    3            6    0.900000        Early-bird
5   I12899  3018.895637    3            6    0.900000        Early-bird
6   J10809  3676.135627    3            6    0.800000        Early-bird
7   J15083  2811.265932    3            6    0.900000        Early-bird
8   J16445  3041.848186    3            6    0.800000        Early-bird
9   L13892  3263.515145    3            6    1.100000        Early-bird
10  N13273  3839.694732    3            6    1.100000        Early-bird
11  R16364  3592.353540    3            6    0.900000        Early-bird
12  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
13  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
14  V18566  3527.701867    3            6    0.900000        Early-bird
15  W13404  4296.873743    3            6    1.100000        Early-bird
16  X13390  2947.543982    3            6    1.100000        Early-bird
17  Z11525  3259.018704    3            6    0.900000        Early-bird
18  Z13534  3662.437527    3            6    0.900000        Early-bird

In [58]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [59]:
customerData.EMI = customerData["EMI"].astype(float)

In [60]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI            float64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [61]:
customerData.loc[0:2]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000  3.0            6    1.679181  Big-Screen-lover
1  A14219  3642.441950  2.0            4    2.682023      Sleeping-dog
2  A15312  3653.884565  2.0            5    3.208202      Sleeping-dog